*{
    margin: 0;
    padding: 0;
}
header{
    box-sizing: border-box;
    height: 15vh;
    width: 100vw;
    border-bottom: .5em solid white;
    background-color: aqua;
}
.container-flex{
    display: flex;
    height: 70vh;

}
.container-left{
    box-sizing: border-box;
    width: 25vw;
    border-right: .5em solid white;
    background-color: aqua;
}
.container-rigth{
    width: 75vw;
    background-color: aqua;
}
footer{
    box-sizing: border-box;
    width: 100vw;
    height: 15vh;
    border-top: .5em solid white;
    background-color: aqua;
}