*{
    margin: 0;
    padding: 0;
}
header{
    height: 10vh;
    width: 100vw;
    border-bottom: 1em solid white;
    background-color: aqua;
}
.container-flex{
    display: flex;
    height: 80vh;
}